*{
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
}
/* i added the font style to all the properties. Give us an idea what it looks like in real time. */

html{
    background-color: grey;
};
.favorites{
    margin-top: 20%;
}
/* I had to margin the FAVORITES button low because you cant see it with the nav bar in the way */

.hide {
    display:none;
}
